.ImagePickerHolder{
    flex-direction: column;
    margin: 5vh;
    /* background-color: rgba(50, 50, 99, 0.5); */
}
.SVGItem{
    fill: rgba(0,0,0,0);
}
.SelectionRegion{
    /* fill: rgba(0, 255, 247, 0); */
    transition: var(--TransTime);
    /* fill: rgba(197, 79, 0, 1); */
}
.SelectionRegion:hover{
    fill: rgba(0, 174, 197, 0.8);
    cursor: pointer;
}
#FloorPlan{
    border-radius: 20px;
    background-color: rgb(183,171,157);
    padding: 2vh;
    width: 1125px;
    height: 825px;
}
.Temp{
    fill: green;
}
.Temp2{
    fill: orange;
}
.ImageHolder{
    display: grid;
    margin: 5vw;
    background-color: beige;
    grid-template-columns: repeat(3,1fr);
    
}