<div class="CarouselHolder FlexCenter" >
    <div class="InnerScaler FlexCenter">
        <div class="CarouselButtonHolder CarouselMainItems FlexCenter">
            <div class="CarouselButton LeftButton"  onclick="btnLeftClick()"></div>
        </div>
        <div class="CarouselDisplay CarouselMainItems FlexCenter">
            <div class="CarouselInfo FlexCenter">
                <p>Description</p>
            </div>
        </div>
        <div class="CarouselButtonHolder CarouselMainItems FlexCenter">
            <div class="CarouselButton RightButton"  onclick="btnLeftClick()"></div>
        </div>
    </div>
    
</div>