<div class="NavBar">
    <div class="Features NavBarItems">
        <p class="NavbarText">Features</p>
    </div>
    <div class="Photos NavBarItems">
        <a class="NavbarText" href="../PhotosPage/Photos.html">Photos</a>
    </div>
    <div class="Tariffs NavBarItems">
        <a class="NavbarText" href="../Tariffs/Tariffs.html">Tariffs</a>
    </div>
    <div class="Booking NavBarItems">
        <p class="NavbarText">Booking</p>
    </div>
    <div class="ContactDetails NavBarItems">
        <p class="NavbarText">Contact Us</p>
    </div>
    <div class="Calendar NavBarItems">
        <p class="NavbarText">Availability</p>
    </div>
    <div class="Special NavBarItems">
        <p class="NavbarText">Specials</p>
    </div>
</div>